In [1]:
import sqlite3 as sq
import random

In [2]:
c=sq.connect("colors.db")
cur=c.cursor()

In [7]:
firsttime=False
tabname="cols"
entries=["red","yellow","green","cyan","blue","violet"]

if firsttime:
    cur.execute("CREATE TABLE "+tabname+" (id real, wins real, games real, col text)")
    id_acc=0
    for en in entries:
        cur.execute("INSERT INTO "+tabname+" VALUES ("+str(id_acc)+",0,0,'"+en+"')")
        id_acc=id_acc+1
    c.commit()

In [12]:
#SORT-algo: https://stackoverflow.com/questions/18563680/sorting-2d-list-python/18564382

def showScore():    #Showing ordered scorelist
    rows=cur.execute('SELECT * FROM '+tabname)
    rowrati=[]
    #rowle=len(rows)
    for i in rows.fetchall():
        en=[]
        en.append(i[0])
        en.append(i[1])
        en.append(i[2])
        en.append(i[3])
        if(i[2]!=0):
            myratio=i[1]/i[2]  #wins/games
            en.append(myratio)
        else:
            myratio=0
            en.append(myratio)
        rowrati.append(en)
    slist=sorted(rowrati,key=lambda l:l[4], reverse=True)   #Sorting the list by the ratio-colomn
    for i in slist:
        print(i)
def play():
    rows=cur.execute('SELECT * FROM '+tabname).fetchall()
    ll=len(rows)-1
    A_id=random.randint(0,ll)
    B_id=random.randint(0,ll)

    while(A_id==B_id):
        B_id=random.randint(0,ll)   #Don't pick the same
    print("Colors:",rows[A_id][3],"&",rows[B_id][3])
    print("Type 0 for",rows[A_id][3],"type 1 for",rows[B_id][3],"type another number to skip")

    choi=int(input())
    if choi==0 or choi==1:
        rows=cur.execute('SELECT * FROM '+tabname).fetchall()
        play_ids=[A_id,B_id]
        win=rows[play_ids[choi]][0]
        winsc=rows[play_ids[choi]][1]+1
        wingm=rows[play_ids[choi]][2]+1
        los=rows[play_ids[1-choi]][0]
        losgm=rows[play_ids[1-choi]][2]+1
        cur.execute("UPDATE "+tabname+" SET wins = "+str(winsc)+", games = "+str(wingm)+" WHERE id="+str(win))
        cur.execute("UPDATE "+tabname+" SET games = "+str(losgm)+" WHERE id="+str(los))
    else:
        print("Skipping")
def resetTable():
    cur.execute("UPDATE "+tabname+" SET wins = 0, games = 0")

In [20]:
#UPDATE "+tabname+" SET wins = 11, games = 12 WHERE col='blue'

#TODO: ability to sort among equal ratios

play()
showScore()

Colors: yellow & cyan
Type 0 for yellow type 1 for cyan type another number to skip
0
[4.0, 1.0, 1.0, 'blue', 1.0]
[2.0, 2.0, 3.0, 'green', 0.6666666666666666]
[3.0, 2.0, 4.0, 'cyan', 0.5]
[5.0, 1.0, 2.0, 'violet', 0.5]
[0.0, 1.0, 3.0, 'red', 0.3333333333333333]
[1.0, 1.0, 3.0, 'yellow', 0.3333333333333333]

In [21]:
#cur.execute("DROP TABLE "+tabname)
c.commit()
cur.close()